@use "/src/Variables.scss" as v;

.nav {
  position: fixed;
  padding-top: 20px;
  top: 0;
  width: 100%;
  height: auto;
  background-color: v.$primary-color;
  border: solid 1px #ededed;
  box-shadow: 0px 0px  5px 0px rgba(199, 197, 197, 0.6);
}

.list {
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;


  .item {
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #2B2D42;
  }
}

.logo {
  color: v.$second-collor;
  font-weight: 600;
}

.btn {
  display: none;
}
//desktop
@media (min-width: 500px) {

  .nav {
    display: flex;
    flex-direction: row;
    line-height: 50px;
  }

  .list {
    width: 40%;
    margin-right: 45px;
    justify-content: flex-end;
    .item {
      font-size: v.$fs-d-small;
      font-weight: 500;
    }
  }

  .header {
    width: 60%;
    // height: 50px;
    margin-left: 45px;
    display: flex;

    .logo {
      align-self: center;
      font-size: v.$fs-d-medium;
    }
  }
}

//Mobile
@media screen and (max-width: 500px) {

  .header {
    height: 50px;
    margin-left: 25px;
    width: 40%;
    display: flex;

    .logo {
      align-self: center;
      font-size: 24px;
    }
  }
  

  .list {
    flex-direction: column;
    height: auto;
    background-color: aquamarine;
  }
  .item:nth-child(1) {
    border-top: 1px solid black;
    margin-top: 50px;
  }
  .item {
    width: 100%;
    border-top: 1px solid black;
    text-align: center;
    margin-right: 0px;
    padding: 20px 0;
  }
  .btn {
    display: block;
    position: absolute;
    right: 0px;
    color: black;
    top: 20px;
    width: 44px;
    height: 44px;
    margin-right: 25px;
  }
}

