
//mobile
// 24, 28, 15, 13px 

$fs-m-tiny: 13px; 
$fs-m-small: 17px; 
$fs-m-medium: 24px; 
$fs-m-big: 28px; 

//ds
// 36, 54, 24, 20, 40

$fs-d-tiny: 20px; 
$fs-d-small: 24px; 
$fs-d-medium: 36px; 
$fs-d-big: 40px; 
$fs-d-very-big: 54px; 

$primary-color: white;
$second-collor: #EF6268;
$third-collor: #FAFAFC;